header,footer{
    font-family: Arial, Helvetica, sans-serif;
    
    background-color: black;
    border-style: solid;
    height: 70PX;
    border-radius: 20px;
    color: rgb(248, 246, 246);
    padding: 20px;
    text-align: center;
    }
    body{
        background: url(../img/fondo2.jpg);
        background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
        font-family: Arial;

    }
    
    #main-container{
        margin: 150px auto;
        width: 900px;
    }
    section{
        
        width: 33%;
       
        float: left;
    }
    table{
        background-color:white;
        text-align: center;
        
        border-collapse: collapse;
        width: 100%;
    }
    th, td{
        border: solid 1px black;
        height: 50px;
        width: 100px;
    
    
    }
    thead{
        background-color: #246355;
        border-bottom: solid 5px #0F362D;
        color: white;
    }
    tr:nth-child(even){
        background-color:#ddd;
    }
    tr:hover td{
        background-color: #369681;
        color: white;
    }
    .centro{
        
        width: 40%;
    }
    button{
        color: white;
        text-decoration: none;
        display: block;
        
        margin-left: auto;
        margin-right: auto;
        
        text-align: center;
        padding-top: 15px;
        margin: auto;
        background-color:rgb(27, 88, 60);
        border-style: solid;
       width: 150px;
        
    }